
<nav class="ui navbar navbar-expand-lg sticky-top navbar-light bg-light">
    <div class="ui container-fluid">
      <div class="navbar-brand ui" id= 'brand' href="#" data-content = "Hi I'm Vangur Ebenezer Rahul Deepak" style="color:#ED6370;"><b>VERD</b></div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" id="blog_link" aria-current="page" href="#" style='font-size:1.6rem;padding-right: 2rem;' data-content="This is my blog"><b>Blog</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active getInTouch" style='font-size:1.6rem' data-content="Get In Touch" ><b>Contact</b></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="ui modal" style=" position:absolute;height: 60%;width:75%;margin-top:15%;margin-left: 10%;" >
      
        <i class="close icon"></i>
        <div class="ui form" style="padding:2rem;">
        <div class="field">
            <p style="font-size:1.3rem;">Write your message here</p>
          <label style="font-size:1rem;">Your Name</label>
          <textarea rows="2"></textarea>
        </div>
        <div class="field">
          <label style="font-size:1rem;">Message</label>
          <textarea rows="4"></textarea>
        </div>
    </div>
        <div class="actions">
          <div class="ui black deny button">
            Nope
          </div>
          <div class="ui positive right labeled icon button">
            Yep, that's me
            <i class="checkmark icon"></i>
          </div>
        </div>
    
    

  </div>